@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 42 67% 95%;
    --foreground: 30 10% 10%;

    --card: 0 0% 100%;
    --card-foreground: 30 10% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 30 10% 10%;

    --primary: 39 41% 57%;
    --primary-foreground: 42 67% 95%;

    --secondary: 42 50% 88%;
    --secondary-foreground: 30 10% 15%;

    --muted: 42 30% 92%;
    --muted-foreground: 30 10% 40%;

    --accent: 39 41% 57%;
    --accent-foreground: 42 67% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 39 20% 85%;
    --input: 39 20% 85%;
    --ring: 39 41% 57%;

    --radius: 1rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 30 15% 8%;
    --foreground: 42 67% 95%;

    --card: 30 10% 12%;
    --card-foreground: 42 67% 95%;

    --popover: 30 10% 12%;
    --popover-foreground: 42 67% 95%;

    --primary: 39 41% 57%;
    --primary-foreground: 30 10% 10%;

    --secondary: 30 10% 18%;
    --secondary-foreground: 42 67% 95%;

    --muted: 30 10% 18%;
    --muted-foreground: 42 30% 70%;

    --accent: 39 41% 57%;
    --accent-foreground: 42 67% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 30 10% 22%;
    --input: 30 10% 22%;
    --ring: 39 41% 57%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

